# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
build/
dist/

# Environment variables
.venv

/backend/venv

# Python
*.pyc
__pycache__/
instance/
.pytest_cache/

# Flask specific
*.log
*.pot
*.py[cod]
